<div id="console">
  <h1>Vehicle Ad Traffic</h1>
  <p>
    This map explores a plethora of vehicle data by time and location.
    <span class="bold"> Larger radius circles </span> exhibit higher traffic
    driven for that vehicle.
  </p>
  <div class="session">
    <h2>Impressions <span class="num">(in thousands)</span></h2>
    <div class="row colors"></div>
    <div class="row labels">
      <div class="label">&lt; 25</div>
      <div class="label">25</div>
      <div class="label">50</div>
      <div class="label">75</div>
      <div class="label">95</div>
      <div class="label">95 +</div>
    </div>
  </div>
  <form #f="ngForm">
    <input
      type="text"
      placeholder="Search by cab ID (e.g. 1N33)"
      name="cabID"
      (keyup)="onFilterCabId()"
      [(ngModel)]="cabID"
      class="input"
      maxlength="4"
    />
    <div class="session">
      <h2>
        Day: <label id="active-hour"> {{ dayInput }}</label>
      </h2>
      <input
        name="day"
        id="slider"
        class="row"
        type="range"
        min="0"
        max="31"
        step="1"
        (mouseup)="filterDate()"
        [(ngModel)]="dayInput"
      />
    </div>
    <div class="session">
      <h2>
        Hour: <label id="active-hour"> {{ hourInput }}</label>
      </h2>
      <input
        name="hour"
        id="slider"
        class="row"
        type="range"
        min="0"
        max="23"
        step="1"
        (mouseup)="filterDate()"
        [(ngModel)]="hourInput"
      />
    </div>
  </form>
</div>
